@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf6e3; /* Warm, paper-like background */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2a2a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none; /* Prevent pull-to-refresh on mobile */
  user-select: none; /* Prevent text selection */
}
